.image-row-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* This ensures wrapping of items when more than 4 per row */
    width: 100%; /* Allow the container to be flexible */
    width: 940px; /* Optional: You can limit the maximum width for better control */
}

.image-container {
    flex: 1 1 calc(25%); /* Flex-basis 25% minus the gap to allow for four columns */
    box-sizing: border-box;
    margin-bottom: 20px; /* Optional: Adjust to control vertical spacing */
}

.image-upload-btn, .btn, .btn-danger {
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: var(--font-0);
    line-height: normal;
    box-sizing: border-box;
    padding: .5em .65em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-weight: normal;
    border-radius: var(--d-button-border-radius);
    transition: var(--d-button-transition);
    cursor: pointer;
}

.image-upload-btn {
    color: var(--primary);
    background-color: #6d6d6d;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
}

.btn-danger {
    color: var(--secondary);
    background-color: var(--danger);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.btn-danger:hover svg {
    fill: rgb(83, 83, 83); /* Change to your desired color */
}

.btn-danger .d-icon{
    color: #ccc;
}

.image-upload-btn svg, .btn svg {
    vertical-align: middle;
}

.image-upload-controls {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    gap: 5px;
}

.hidden-upload-field {
    display: none;
}

.image-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.image-preview {
    flex: 0 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    overflow: hidden;
    background-color: #969696;
    box-sizing: border-box;
}

.image-preview__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
